<div class="container">
    <div class="match panel panel-success">
        <div class="col-md-4">
            <img src="assets/images/protoss.PNG" 
                 alt="profile" class="avatar pull-left" width="110" height="110">
             <h2 class="pull-left">Ragelot</h2>
             <div alt="bronze" class="league bronze medium ach1 pull-left"></div>
        </div>
        <div class="col-md-4">
            <strong>1v1</strong>
            <br>
            <em>Bel'shir vestige</em>
            <br>
            <h2 class="text-success">VICTORY</h2>
        </div>
        <div class="col-md-4">
            <img src="assets/images/zerg.PNG" 
                 alt="profile" class="avatar pull-right" width="110" height="110">
            <h2 class="pull-right">Cuteling</h2>
            <div alt="bronze" class="league bronze medium ach1 pull-right"></div>
        </div>
    </div>
    <div class="match panel panel-success">
        <div class="col-md-4">
            <img src="assets/images/protoss.PNG" 
                 alt="profile" class="avatar pull-left" width="110" height="110">
             <h2 class="pull-left">Ragelot</h2>
             <div alt="bronze" class="league bronze medium ach1 pull-left"></div>
        </div>
        <div class="col-md-4">
            <strong>1v1</strong>
            <br>
            <em>Bel'shir vestige</em>
            <br>
            <h2 class="text-success">VICTORY</h2>
        </div>
        <div class="col-md-4">
            <img src="assets/images/protoss.PNG" 
                 alt="profile" class="avatar pull-right" width="110" height="110">
            <h2 class="pull-right">Z-LOT</h2>
            <div alt="bronze" class="league bronze medium ach1 pull-right"></div>
        </div>
    </div>
    <div class="match panel panel-danger">
        <div class="col-md-4">
            <img src="assets/images/protoss.PNG" 
                 alt="profile" class="avatar pull-left" width="110" height="110">
             <h2 class="pull-left">Ragelot</h2>
             <div alt="bronze" class="league bronze medium ach1 pull-left"></div>
        </div>
        <div class="col-md-4">
            <strong>1v1</strong>
            <br>
            <em>Korhal city</em>
            <br>
            <h2 class="text-danger">DEFEAT</h2>
        </div>
        <div class="col-md-4">
            <img src="assets/images/terran.PNG" 
                 alt="profile" class="avatar pull-right" width="110" height="110">
            <h2 class="pull-right">Patches</h2>
            <div alt="bronze" class="league bronze medium ach1 pull-right"></div>
        </div>
    </div>
    {{outlet}}
</div>
